/* bring in normalize.css styles */
@import-normalize;

@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&family=Open+Sans:wght@300;400;600;800&display=swap');

/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Cabin', sans-serif;
  background: #f8f8ff;
  color: #000105;
}

a {
  color: inherit;
  background: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0;
}

h1 {
  font-size: 4rem;
  margin: 2rem 0;
}

h2 {
  font-size: 2rem;
}

p {
  margin: 1rem 0;
  font-size: 2rem;
}

input,
button {
  font-family: 'Cabin', sans-serif;
  color: #000105;
}

input {
  font-size: 1.6rem;
  padding: 5px 10px;
}

/* Utilities */

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.row-nowrap {
  display: flex;
}

/* Backgrounds */

.bg-main {
  background: #f8f8ff;
}

.bg-secondary {
  background: #e7eff5;
}

.bg-light {
  background: #053f82;
}

.bg-dark {
  background: #011447;
}

/* Text colors */

.text-primary {
  color: #f8f8ff;
}

.text-secondary {
  color: #053f82;
}

/* Padding */

.padding-1 {
  padding: 10px;
}

.padding-2 {
  padding: 20px;
}

.padding-x-1 {
  padding: 0 10px;
}

.padding-x-2 {
  padding: 0 20px;
}

.padding-y-1 {
  padding: 10px 0;
}

.padding-y-2 {
  padding: 20px 0;
}

/* Buttons */

.btn {
  cursor: pointer;
  text-decoration: none;
  outline: none;
  border: none;
}
