.video-preview {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 20px;
}

.video-preview .video-thumbnail {
  flex: 1;
  margin-right: 20px;
  max-width: 360px;
}

.video-preview .thumbnail-img {
  width: 100%;
}

.video-preview .video-details {
  flex: 1;
}

.video-preview .video-title {
  margin-top: 0;
  font-size: 1.8rem;
  font-weight: 600;
  max-height: 4rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.video-preview .video-meta {
  margin: 0.5rem 0;
}

.video-preview .channel-name,
.video-preview .video-views,
.video-preview .publish-time,
.video-preview .video-description {
  font-size: 1.6rem;
  margin: 0;
}

.video-preview .channel-name:after,
.video-preview .video-views:after {
  content: '•';
  margin: 0 1rem;
}

.video-preview .video-meta:last-child::after {
  content: '';
  margin: 0;
}

@media only screen and (max-width: 900px) {
  .video-preview .video-details {
    flex: 2;
  }
}

@media only screen and (max-width: 700px) {
  .video-preview .video-title {
    font-size: 1.6rem;
    max-height: 3.6rem;
  }

  .video-preview .channel-name,
  .video-preview .video-views,
  .video-preview .publish-time,
  .video-preview .video-description {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 650px) {
  .video-preview .video-thumbnail {
    margin-right: 10px;
  }

  .video-preview .video-title {
    margin-bottom: 0.5rem;
  }

  .video-preview .video-description {
    overflow: hidden;
    max-height: 4rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

@media only screen and (max-width: 500px) {
  .video-preview .video-details {
    flex: 1;
  }

  .video-preview .video-description {
    display: none;
  }
}

@media only screen and (min-width: 321px) and (max-width: 400px) {
  .video-preview .video-views:after {
    content: '';
    margin: 0;
  }
}

@media only screen and (max-width: 320px) {
  .video-preview {
    flex-flow: column;
  }

  .video-preview .video-thumbnail {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
