.download {
  display: flex;
  flex-flow: row wrap;
}

.download .content {
  flex: 70%;
}

.download .sidebar {
  flex: 30%;
  padding-left: 20px;
}

.download .download-btn {
  margin: 10px 0;
}

/* Sidebar Related videos */

h3.related-videos {
  margin: 0 0 10px;
  font-weight: 600;
}

.download .video-preview {
  margin-bottom: 10px;
}

.download .video-preview .video-thumbnail {
  margin-right: 10px;
}

.download .video-preview .video-title {
  font-size: 1.6rem;
}

.download .video-preview .channel-name,
.download .video-preview .publish-time {
  font-size: 1.4rem;
}

@media only screen and (min-width: 801px) and (max-width: 1100px) {
  .download .video-preview {
    flex-flow: column;
  }

  .download .video-preview .video-thumbnail {
    margin-right: 0px;
  }
}

@media only screen and (max-width: 800px) {
  .download {
    flex-flow: column;
  }

  .download .sidebar {
    padding-left: 0;
  }
}

@media only screen and (max-width: 320px) {
  .download .video-preview .video-thumbnail {
    margin-right: 0px;
  }
}
