.main-footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-footer a {
  min-width: 50px;
  text-align: center;
}
.main-footer a:not(:last-child) {
  margin-right: 20px;
}
