/* Video tags */

.video-info .video-tags {
  margin: 10px 0;
  word-break: break-word;
}

.video-info .video-tag {
  font-size: 1.4rem;
  margin-right: 20px;
}

.video-info .video-tag:last-child {
  margin-right: 0;
}

.video-info .video-tag::before {
  content: '#';
}

/* Icons */

.video-info .icon {
  margin-right: 10px;
  opacity: 0.7;
}

/* Video title */

.video-info .video-title {
  font-weight: 600;
  margin: 10px 0;
}

/* Video stats - views, likes, etc */

.video-info .video-stats-main {
  flex: 1 0 350px;
}

.video-info .video-views,
.video-info .video-likes,
.video-info .video-dislikes {
  margin-right: 10px;
}

/* Channel title */

.video-info .channel-title {
  display: block;
  font-weight: 600;
}

/* Video description */

.video-info .description-text {
  word-break: break-word; /* Some links in the description are very long and cause issues on mobile screens */
}

/* Show more button */

.video-info .show-description-btn {
  background: none;
  padding-left: 0;
  text-transform: uppercase;
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  .video-info .video-title {
    font-size: 1.6rem;
  }

  .video-info .video-stats {
    flex-direction: column;
  }

  .video-info .video-stats-main {
    flex: auto;
  }

  .video-info .video-views,
  .video-info .publish-date,
  .video-info .video-likes,
  .video-info .video-dislikes,
  .video-info .video-comments,
  .video-info .description-text,
  .video-info .show-description-btn {
    font-size: 1.4rem;
  }

  .video-info .video-stats-secondary > * {
    margin-top: 0;
  }
}
