@import '../../styles/variables';

// Video tags

.tags {
  word-break: break-all;
}

.tag {
  margin-right: 20px;

  &:last-child {
    margin-left: 0;
  }

  &::before {
    content: '#';
  }
}

.title {
  font-size: 1.8rem;
  font-weight: 600;
}

// Video statistics

.videoStats {
  display: flex;
  flex-flow: row wrap;
}

.videoStatsPrimary {
  flex: 1 0 200px;
}

.videoStatsPrimary,
.videoStatsSecondary {
  display: flex;
  flex-flow: row wrap;
  > * {
    margin-right: 10px;
  }

  > *:last-child {
    margin-right: 0;
  }
}

// Channel title
.channelTitle {
  display: block;
  margin: 10px 0 20px;
  color: $text-primary;
  font-weight: 600;

  .icon {
    margin-right: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .videoStats {
    flex-flow: column;
  }

  .title {
    font-size: 1.6rem;
  }

  .tag,
  .channelTitle {
    font-size: 1.4rem;
  }

  .videoStatsPrimary {
    flex: auto;
  }
}
