.navbar a,
.navbar button {
  color: #f8f8ff;
}

.navbar ul {
  min-height: 70px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  margin-right: 40px;
}

.navbar ul li:last-child {
  margin-right: 0;
}

li.logo {
  flex-grow: 2;
}

li.form {
  flex: 1 auto 300px;
}

li.back-btn,
li.search-btn {
  display: none;
}

/* .display-block - added/removed based on state */
li.form.display-block {
  display: block;
}

/* Media queries */

@media only screen and (max-width: 600px) {
  li.form {
    display: none;
  }

  li.search-btn {
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  .navbar ul li {
    margin-right: 20px;
  }
}

@media only screen and (max-width: 320px) {
  .logo img {
    height: 20px;
    width: auto;
  }
}
