@import '../../styles/variables';

.navbar {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
  background: $bg-secondary;
  color: $text-secondary;
}

.menu {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.logo {
  flex: 2;
}

.img {
  width: 100%;
  max-width: 150px;
}

.menuItem {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.searchBar {
  flex: 1 1 200px;
  padding: 10px;
}

.link {
  color: $text-secondary;
  padding: 10px;
}

.searchBtn {
  display: none;
}

.displayBlock,
.searchBar.displayBlock {
  display: block;
}

@media only screen and (max-width: 600px) {
  .searchBtn {
    display: block;
  }

  .searchBar {
    display: none;
  }
}

// @media only screen and (max-width: 480px) {
//   .menuItem {
//     margin-right: 20px;
//   }
// }
