.search-result {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 20px;
}

.search-result .thumbnail {
  margin-right: 20px;
  flex: 1 1 180px;
  max-width: 320px;
  max-height: 180px;
}

.search-result .thumbnail img {
  display: block;
  width: 100%;
  height: auto;
}

.search-result .details {
  flex: 1 1 250px;
  max-height: 170px;
  overflow: hidden;
}

.search-result .details h2 {
  margin-top: 0px;
  font-weight: 600;
}

.search-result .details p {
  font-size: 1.6rem;
}

@media only screen and (max-width: 700px) {
  .search-result .details {
    max-height: 140px;
  }
}

@media only screen and (max-width: 600px) {
  .search-result .description {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .search-result {
    flex-flow: column;
    align-items: center;
  }

  .search-result .thumbnail {
    flex: auto;
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
  }

  .search-result .thumbnail img {
    width: 100%;
    height: auto;
  }

  .search-result .details {
    flex: auto;
  }

  .search-result .channel-title {
    display: none;
  }
}
