@import '../../styles/variables';

.downloadStatus {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-top: 10px;
  padding-left: 10px;
  border: 1px solid $bg-dark;

  p {
    flex: 1;
  }
}

.loadingIcon {
  margin-right: 10px;
}
